<div style="width : 440px; height : 200px;">
    <%  if params[:obj_id] == "new"
      obj = TrstSysMenu.new
    else
      obj = find_obj(TrstSysMenu,params[:obj_id])
    end -%>
  <% remote_form_for :menu, obj,
    :url => {:action => 'task', :id => params[:id], :type => 'save', :obj_id => params[:obj_id]} do |f| %>
    <table style="width:80%; margin:auto;">
      <thead>
        <tr>
          <%= f.th_label_tag :id, nil, {:attributes => "label_attribute"} %>
          <%= f.th_label_tag :id, nil, {:attributes => "label_value"} %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= f.td_label_tag :name %>
          <%= f.td_text_field :name %>
        </tr>
        <tr>
          <%= f.td_label_tag :controller %>
          <%= f.td_text_field :controller %>
        </tr>
        <tr>
          <%= f.td_label_tag :chapter %>
          <%= f.td_text_field :chapter %>
        </tr>
        <tr>
          <%= f.td_label_tag :page %>
          <%= f.td_text_field :page %>
        </tr>
        <tr>
          <%= f.td_label_tag :has_submenu %>
          <%= f.td_text_field :has_submenu %>
        </tr>
        <tr>
          <%= f.td_label_tag :title %>
          <%= f.td_text_field :title %>
        </tr>
        <%= f.hidden_fields :updated_by => current_trst_user.id %>
        <%= f.last_row_for :edit %>
      </tbody>
    </table>
  <% end %>
</div>
