<!--  Login  -->
<div style="width:255px; height:130px; padding-left:15px">
  <br />
  <% form_for @trst_user_session, :url => trst_user_session_path do |f| %>
    <%= f.error_messages %>
    <%=t 'login.name' %>:<br />
    <%= f.text_field :login %><br />
    <%=t 'login.password' %>:<br />
    <%= f.password_field :password %><br />
    <%= f.submit "Login" %>
  <% end %>
</div>