<div style="width : 400px; height : 320px;">
  <%  if params[:obj_id] == "new"
    obj = TrstHrPdt.new
  else
    obj = find_obj(TrstHrPdt,params[:obj_id])
  end -%>
  <% remote_form_for :pdt, obj,
    :url => {:action => 'task', :id => params[:id], :type => 'save', :obj_id => params[:obj_id]} do |f| %>
    <table style="width:80%; margin:auto;">
      <thead>
        <tr>
          <%= f.th_label_tag :id, nil, {:attributes => "label_attribute"} %>
          <%= f.th_label_tag :id, nil, {:attributes => "label_value"} %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= f.td_label_tag :trst_hr_id %>
          <%= f.td_auto_complete_search :trst_hr_id, :size => 24,
            :search_object => 'TrstHr',
            :search_method => 'lst_name',
            :hidden_field_value => 'id',
            :informal => 'full_name'
        %>
        </tr>
        <tr>
          <%= f.td_label_tag :cnp %>
          <%= f.td_text_field :CNP, :size => 24 %>
        </tr>
        <tr>
          <%= f.td_label_tag :bi_info, nil, {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :BI_sr, :size => 1 %>
            <%= f.text_field :BI_nr, :size => 7 %>
            <%= f.text_field :BI_elib, :size => 12 %>
            <%= f.calendar_date_select :BI_date, :time => false, :size => 7 %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :ps_info, nil, {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :PS_sr, :size => 1 %>
            <%= f.text_field :PS_nr, :size => 7 %>
            <%= f.text_field :PS_elib, :size => 12 %>
            <%= f.calendar_date_select :PS_date, :time => false, :size => 7 %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :cttn %>
          <%= f.td_text_field :cttn, :size => 24 %>
        </tr>
        <tr>
          <%= f.td_label_tag :address_info, nil, {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :addr_strt, :size => 14 %>
            <%= f.text_field :addr_city, :size => 8 %>
            <%= f.text_field :addr_state, :size => 2 %>
            <%= f.text_field :addr_zip, :size => 6 %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :contact_info, nil, {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :tel, :size => 12 %>
            <%= f.text_field :fax, :size => 11 %>
            <%= f.text_field :mob, :size => 11 %>
            <br />
            <%= f.text_field :email, :size => 19 %>
            <%= f.text_field :web, :size => 19 %>
          </td>
        </tr>
        <%= f.hidden_fields :updated_by => current_trst_user.id %>
        <%= f.last_row_for :edit %>
      </tbody>
    </table>
  <% end %>
</div>
