<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div style="width:460px;height:310px">
  <% o = find_obj(TrstSysTask,params[:obj_id]) %>
  <table style="width:80%; margin:auto;">
    <thead>
      <tr>
        <th><%=t 'activerecord.attributes.label_attribute' %></th>
        <th><%=t 'activerecord.attributes.label_value' %></th>
      </tr>
    </thead>
    <tbody align="left">
      <tr>
        <td align="left"><%=t 'tasks.db_sys_task.list.trst_sys_page_id' %></td>
        <td align="left"><%= o.trst_sys_page_id %></td>
      </tr>
      <tr>
        <td align="left"><%=t 'tasks.db_sys_task.list.controller' %></td>
        <td align="left"><%= o.controller %></td>
      </tr>
      <tr>
        <td align="left"><%=t 'tasks.db_sys_task.list.exe_id' %></td>
        <td align="left"><%= o.exe_id %></td>
      </tr>
      <tr>
        <td align="left"><%=t 'tasks.db_sys_task.list.exe_params' %></td>
        <td align="left"><%= o.exe_params %></td>
      </tr>
      <tr>
        <td align="left"><%=t 'tasks.db_sys_task.list.name' %></td>
        <td align="left"><%= o.name %></td>
      </tr>
      <tr>
        <td align="left"><%=t 'tasks.db_sys_task.list.title' %></td>
        <td align="left"><%= o.title %></td>
      </tr>
      <tr>
        <td align="left"><%=t 'tasks.db_sys_task.list.info' %></td>
        <td>
          <%= truncate(strip_tags(o.info), :length => 40) %>
        </td>
      </tr>
      <%= custom_schema_definitions_html(o) %>
      <tr>
        <td align="center" colspan="2" style="padding-top:10px">
          <%= link_to_function t('tasks.db_sys_task.show.link_to_edit'),
            "TrstWindow.edit(#{params[:id]},#{params[:obj_id]})" %>&nbsp;|&nbsp;
          <%= link_to_function t('tasks.db_sys_task.show.link_to_list'),
            "TrstWindow.exe(#{params[:id]},#{params[:obj_id]})" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
