<div style="width : 400px; height : 260px;">
  <%  if params[:obj_id] == "new"
    @page = TrstSysPage.new
  else
    @page = find_obj(TrstSysPage,params[:obj_id])
  end -%>
  <% remote_form_for :page, @page,
    :url => {:action => 'task', :id => params[:id], :type => 'save', :obj_id => params[:obj_id]} do |f| %>
    <table style="width:80%; margin:auto;">
      <thead>
        <tr>
          <%= f.th_label_tag :id, nil, {:attributes => "label_attribute"} %>
          <%= f.th_label_tag :id, nil, {:attributes => "label_value"} %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= f.td_label_tag  :controller %>
          <%= f.td_text_field :controller, :size => 20 %>
        </tr>
        <tr>
          <%= f.td_label_tag  :chapter %>
          <%= f.td_text_field :chapter, :size => 5 %>
        </tr>
        <tr>
          <%= f.td_label_tag  :page %>
          <%= f.td_text_field :page, :size => 5 %>
        </tr>
        <tr>
          <%= f.td_label_tag  :title %>
          <td>
            <a href="#" onclick="TrstWindow.mce_edit(<%= params[:id] %>,'TrstSysPage' ,<%= params[:obj_id] %>, 'title')">
              <%= truncate(strip_tags(@page.title), :length => 40) %>
            </a>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag  :intro %>
          <td>
            <a href="#" onclick="TrstWindow.mce_edit(<%= params[:id] %>,'TrstSysPage' ,<%= params[:obj_id] %>, 'intro')">
              <%= truncate(strip_tags(@page.intro), :length => 40) %>
            </a>
          </td>
        </tr>
        <tr>
        <tr>
          <%= f.td_label_tag  :actions %>
          <td>
            <a href="#" onclick="TrstWindow.mce_edit(<%= params[:id] %>,'TrstSysPage' ,<%= params[:obj_id] %>, 'actions')">
              <%= truncate(strip_tags(@page.actions), :length => 40) %>
            </a>
          </td>
        </tr>
        <tr>
        <tr>
          <%= f.td_label_tag  :content %>
          <td>
            <a href="#" onclick="TrstWindow.mce_edit(<%= params[:id] %>,'TrstSysPage' ,<%= params[:obj_id] %>, 'content')">
              <%= truncate(strip_tags(@page.content), :length => 40) %>
            </a>
          </td>
        </tr>
        <tr>
        <tr>
          <%= f.td_label_tag  :note %>
          <td>
            <a href="#" onclick="TrstWindow.mce_edit(<%= params[:id] %>,'TrstSysPage' ,<%= params[:obj_id] %>, 'note')">
              <%= truncate(strip_tags(@page.note), :length => 40) %>
            </a>
          </td>
        </tr>
        <%= f.hidden_fields :updated_by => current_trst_user.id %>
        <%= f.last_row_for :edit %>
        <tr>
          <td align="left" colspan="2">
            <p>* ptr. a edita câmpul <strong>click</strong> pe link ...</p>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>