<% obj = trst_find_all(TrstSysSubmenu) ; i = obj.offset %>
<% if obj.length == 0  %>
  <script type="text/javascript"> alert("<%=  t('activerecord.attributes.no_record') %>")</script>
  <script type="text/javascript"> TrstWindow.edit(<%= params[:id] %>,"new");</script>
<% else %>
<div  style="width:760px;height:480px">
  <table class="full">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <%= th_label_tag obj, :name %>
        <%= th_label_tag obj, :controller %>
        <%= th_label_tag obj, :chapter %>
        <%= th_label_tag obj, :page %>
        <%= th_label_tag obj, :active %>
        <%= th_label_tag obj, :title %>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% for o in obj %>
        <tr class="<%= cycle("even","odd") %>">
          <td align="right"><%= i += 1 %>.&nbsp;</td>
          <%= td_value_tag o, :name %>
          <%= td_value_tag o, :controller %>
          <%= td_value_tag o, :chapter %>
          <%= td_value_tag o, :page %>
          <%= td_value_tag o, :active %>
          <%= td_value_tag o, :title %>
          <%= link_to_task o, :last_column %>
        </tr>
      <% end %>
      <%= last_row_for obj, :row20, {:colspan => 8, :offset => i } %>
      <%= last_row_for obj, :list, {:colspan => 7 } %>
    </tbody>
  </table>
</div>
<% end %>
