<div  style="width:760px;height:480px">
  <% obj = trst_find_all(TrstSysTask) ; i = obj.offset %>
  <% if obj.length == 0  %>
    <script type="text/javascript"> TrstWindow.edit(<%= params[:id] %>,"new");</script>
  <% end %>
  <table class="full">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <%= th_label_tag obj, :trst_sys_page_id %>
        <%= th_label_tag obj, :prefix %>
        <%= th_label_tag obj, :exe_id %>
        <%= th_label_tag obj, :exe_params %>
        <%= th_label_tag obj, :name %>
        <%= th_label_tag obj, :title %>
        <%= th_label_tag obj, :info %>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% for o in obj %>
        <tr class="<%= cycle("even","odd") %>">
          <td align="right"><%= i += 1 %>.&nbsp;</td>
          <%= td_value_tag o, :trst_sys_page_id %>
          <%= td_value_tag o, :prefix %>
          <td><%= truncate(o.exe_id, :length => 20) %></td>
          <td><%= truncate(o.exe_params, :length => 20) %></td>
          <td><%= truncate(o.name, :length => 20) %></td>
          <td><%= truncate(o.title, :length => 20) %></td>
          <td><%= truncate(strip_tags(o.info), :length => 20) %></td>
          <%= link_to_task o, :last_column %>
        </tr>
      <% end %>
      <%= last_row_for obj, :row20, {:colspan => 9, :offset => i } %>
      <%= last_row_for obj, :list, {:colspan => 8 } %>
    </tbody>
  </table>
</div>
