<div style="width:460px;height:320px">
  <% o = find_obj(TrstSysTask,params[:obj_id]) %>
  <table style="width:80%; margin:auto;">
    <thead>
      <tr>
        <%= th_label_tag o, :id, nil, {:attributes => "label_attribute"} %>
        <%= th_label_tag o, :id, nil, {:attributes => "label_value"} %>
      </tr>
    </thead>
    <tbody align="left">
      <tr>
        <%= td_label_tag o, :trst_sys_page_id %>
        <%= td_value_tag o, :trst_sys_page_id %>
      </tr>
      <tr>
        <%= td_label_tag o, :prefix %>
        <%= td_value_tag o, :prefix %>
      </tr>
      <tr>
        <%= td_label_tag o, :exe_id %>
        <%= td_value_tag o, :exe_id %>
      </tr>
      <tr>
        <%= td_label_tag o, :exe_params %>
        <%= td_value_tag o, :exe_params %>
      </tr>
      <tr>
        <%= td_label_tag o, :name %>
        <%= td_value_tag o, :name %>
      </tr>
      <tr>
        <%= td_label_tag o, :title %>
        <%= td_value_tag o, :title %>
      </tr>
      <tr>
        <%= td_label_tag o, :info %>
        <td><%= truncate(strip_tags(o.info), :length => 40) %></td>
      </tr>
      <tr>
        <td colspan="2"><hr/></td>
      </tr>
      <%= custom_schema_definitions_html(o) %>
      <%= last_row_for o, :show %>
    </tbody>
  </table>
</div>
