<div style="width : 380px; height : <%= params[:obj_id] == "new" ? "280px;" : "340px;"%>" >
  <%  if params[:obj_id] == "new"
    obj = TrstFirm.new
  else
    obj = find_obj(TrstFirm,params[:obj_id])
  end -%>
  <% remote_form_for :firm, obj,
    :url => {:action => 'task', :id => params[:id], :type => 'save', :obj_id => params[:obj_id]} do |f| %>
    <table style="width:80%; margin:auto;">
      <thead>
        <tr>
          <%= f.th_label_tag :id, nil, {:attributes => "label_attribute"} %>
          <%= f.th_label_tag :id, nil, {:attributes => "label_value"} %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= f.td_label_tag :name_info, nil, {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :prefix, {:size => 2} %>
            <%= f.text_field :name, {:size => 27} %>
            <%= f.text_field :suffix, {:size => 3} %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :id_info, nil, {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :id_chamcom, {:size => 7} %>
            <%= f.text_field :id_fiscal, {:size => 7} %>
            <%= f.text_field :id_itm, {:size => 7} %>
            <%= f.text_field :id_account, {:size => 7} %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :address_info, nil, {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :address, {:size => 14} %>
            <%= f.text_field :city, {:size => 7} %>
            <%= f.text_field :zip, {:size => 5} %>
            <%= f.text_field :state, {:size => 2} %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :contact_info, nil, {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :tel, {:size => 8} %>
            <%= f.text_field :fax, {:size => 8} %>
            <%= f.text_field :email, {:size => 16} %>
            <%= f.text_field :webaddress, {:size => 40} %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :manager_id %>
          <%= f.td_auto_complete_search :manager_id, :size => 24,
            :search_object => 'TrstHr',
            :search_method => 'lst_name',
            :hidden_field_value => 'id',
            :informal => 'full_name' %>
        </tr>
        <% unless params[:obj_id] == "new" %>
          <tr>
            <%= f.td_label_tag  :mission %>
            <td>
              <a href="#" onclick="TrstWindow.mce_edit(<%= params[:id] %>,'TrstFirm' ,<%= params[:obj_id] %>, 'mission')">
                <%= truncate(strip_tags(obj.mission), :length => 40) %>
              </a>
            </td>
          </tr>
          <tr>
            <%= f.td_label_tag  :objectives %>
            <td>
              <a href="#" onclick="TrstWindow.mce_edit(<%= params[:id] %>,'TrstFirm' ,<%= params[:obj_id] %>, 'objectives')">
                <%= truncate(strip_tags(obj.objectives), :length => 40) %>
              </a>
            </td>
          </tr>
        <% end %>
        <%= f.hidden_fields :updated_by => current_trst_user.id %>
        <%= f.last_row_for :edit %>
        <% unless params[:obj_id] == "new" %>
          <tr>
            <td align="left" colspan="2">
              <p>* ptr. a edita câmpul <strong>click</strong> pe link ...</p>
            </td>
          </tr>
        <% end %>
          </tbody>
        </table>
      <% end %>
</div>
