<% if current_trst_user.id != 1  %>
  <div id="edit"  style="width:440px;height:110px">
    <% @user = find_obj(TrstUser,params[:obj_id]) %>
    <% remote_form_for :user, @user,
      :url => {:action => 'task', :id => params[:id], :type => 'save', :obj_id => params[:obj_id]} do |f| %>
      <table style="width:80%; margin:auto;">
        <thead>
          <tr>
            <th colspan="2"><%=t 'tasks.db_user.edit.password_change_title' %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="left"><%=  f.object.new_record? ? t('tasks.db_user.edit.password') : t('tasks.db_user.edit.password_change') %></td>
            <td align="left"><%= f.password_field :password %></td>
          </tr>
          <tr>
            <td align="left"><%=t 'tasks.db_user.edit.password_confirmation' %></td>
            <td align="left"><%= f.password_field :password_confirmation %></td>
          </tr>
          <%= f.hidden_fields :updated_by => current_trst_user.id %>
          <%= f.last_row_for :edit %>
        </tbody>
      </table>
    <% end %>
  </div>
<% else %>
  <div id="edit"  style="width:440px;height:210px">
    <%  if params[:obj_id] == "new"
      @user = TrstUser.new
    else
      @user = find_obj(TrstUser,params[:obj_id])
    end -%>
    <% remote_form_for :user, @user,
      :url => {:action => 'task', :id => params[:id], :type => 'save', :obj_id => params[:obj_id]} do |f| %>
      <table style="width:80%; margin:auto;">
        <thead>
          <tr>
            <%= f.th_label_tag :id, nil, {:attributes => "label_attribute"} %>
            <%= f.th_label_tag :id, nil, {:attributes => "label_value"} %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%= f.td_label_tag :login %>
            <%= f.td_text_field :login %>
          </tr>
          <tr>
            <%= f.td_label_tag :email %>
            <%= f.td_text_field :email %>
          </tr>
          <tr>
            <%= f.td_label_tag :lst_name %>
            <%= f.td_text_field :lst_name %>
          </tr>
          <tr>
            <%= f.td_label_tag :frst_name %>
            <%= f.td_text_field :frst_name %>
          </tr>
          <tr>
            <%= f.td_label_tag :mdl_name %>
            <%= f.td_text_field :mdl_name %>
          </tr>
          <tr>
            <td align="left"><%=  f.object.new_record? ? t('tasks.db_user.edit.password') : t('tasks.db_user.edit.password_change') %></td>
            <td align="left"><%= f.password_field :password %></td>
          </tr>
          <tr>
            <td align="left"><%=t 'tasks.db_user.edit.password_confirmation' %></td>
            <td align="left"><%= f.password_field :password_confirmation %></td>
          </tr>
          <%= f.hidden_fields :updated_by => current_trst_user.id %>
          <%= f.last_row_for :edit %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>
