<div id="show"  style="width:420px;height:360px">
  <% o = find_obj(TrstUser,params[:obj_id])  %>
  <table style="width:80%; margin:auto;">
    <thead>
      <tr>
        <%= th_label_tag o, :id, nil, {:attributes => "label_attribute"} %>
        <%= th_label_tag o, :id, nil, {:attributes => "label_value"} %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%= td_label_tag o, :login %>
        <%= td_value_tag o, :login %>
      </tr>
      <tr>
        <%= td_label_tag o, :email %>
        <%= td_value_tag o, :email %>
      </tr>
      <tr>
        <%= td_label_tag o, :lst_name %>
        <%= td_value_tag o, :lst_name %>
      </tr>
      <tr>
        <%= td_label_tag o, :frst_name %>
        <%= td_value_tag o, :frst_name %>
      </tr>
      <tr>
        <%= td_label_tag o, :mdl_name %>
        <%= td_value_tag o, :mdl_name %>
      </tr>
      <tr>
        <%= td_label_tag o, :login_count %>
        <%= td_value_tag o, :login_count %>
      </tr>
      <tr>
        <%= td_label_tag o, :last_login_at %>
        <%= td_value_tag o, :last_login_at %>
      </tr>
      <tr>
        <%= td_label_tag o, :last_login_ip %>
        <%= td_value_tag o, :last_login_ip %>
      </tr>
      <tr>
        <td colspan="2"><hr/></td>
      </tr>
      <%= custom_schema_definitions_html(o) %>
      <%= last_row_for o, :show %>
    </tbody>
  </table>
</div>