<% obj = trst_find_all(TrstHrEmployee) ; i = obj.offset %>
<% if obj.length == 0  %>
  <script type="text/javascript"> alert("<%=  t('activerecord.attributes.no_record') %>")</script>
  <script type="text/javascript"> TrstWindow.edit(<%= params[:id] %>,"new");</script>
<% else %>
<div  style="width:760px;height:480px">
  <table class="full">
    <thead>
      <th>&nbsp;</th>
      <%= th_label_tag obj, :id %>
      <th>&nbsp;</th>
    </thead>
    <tbody>
      <% for o in obj %>
        <tr class="<%= cycle("even","odd")%>" >
          <td align="right"><%= i += 1 %>.</td>
          <%= td_value_tag o, :id %>
          <%= link_to_task o, :last_column %>
      <% end %>
      <%= last_row_for obj, :row20, {:colspan => 12, :offset => i } %>
      <%= last_row_for obj, :list, {:colspan => 11 } %>
    </tbody>
  </table>
</div>
<% end %>