<div style="width : 380px; height : 260px;">
  <%  if params[:obj_id] == "new"
    obj = TrstPrtn.new
  else
    obj = find_obj(TrstPrtn,params[:obj_id])
  end -%>
  <% remote_form_for :prtn, obj,
    :url => {:action => 'task', :id => params[:id], :type => 'save', :obj_id => params[:obj_id]} do |f| %>
    <table style="width:80%; margin:auto;">
      <thead>
        <tr>
          <%= f.th_label_tag :id, nil, {:attributes => "label_attribute"} %>
          <%= f.th_label_tag :id, nil, {:attributes => "label_value"} %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= f.td_label_tag :full_name,  t('activerecord.attributes.trst_prtn.fullname_0_edit'), {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :prefix, {:size => 2} %>
            <%= f.text_field :name, {:size => 15} %>
            <%= f.text_field :suffix, {:size => 3} %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :full_name,  t('activerecord.attributes.trst_prtn.fullname_1_edit'), {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :id_chamcom, {:size => 7} %>
            <%= f.text_field :id_fiscal, {:size => 7} %>
            <%= f.text_field :id_itm, {:size => 7} %>
            <%= f.text_field :id_account, {:size => 7} %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :full_name, t('activerecord.attributes.trst_prtn.fullname_2_edit'), {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :address, {:size => 14} %>
            <%= f.text_field :city, {:size => 7} %>
            <%= f.text_field :zip, {:size => 5} %>
            <%= f.text_field :state, {:size => 2} %>
          </td>
        </tr>
        <tr>
          <%= f.td_label_tag :contactpers %>
          <%= f.td_text_field :contactpers, {:size => 20 } %>
        </tr>
        <tr>
          <%= f.td_label_tag :full_name, t('activerecord.attributes.trst_prtn.fullname_3_edit'), {:colspan => 2} %>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.text_field :tel, {:size => 8} %>
            <%= f.text_field :fax, {:size => 8} %>
            <%= f.text_field :email, {:size => 14} %>
          </td>
        </tr>
        <%= f.hidden_fields :updated_by => current_trst_user.id %>
        <%= f.last_row_for :edit %>
      </tbody>
    </table>
  <% end %>
</div>
