<div  style="width:760px;height:480px">
  <% obj = trst_find_all(TrstPrtn) ; i = obj.offset %>
  <% if obj.length == 0  %>
    <script type="text/javascript"> TrstWindow.edit(<%= params[:id] %>,"new");</script>
  <% end %>
  <table class="full">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <%= th_label_tag obj, :id %>
        <%= th_label_tag obj, :full_name %>
        <%= th_label_tag obj, :namesh %>
        <%= th_label_tag obj, :id_chamcom %>
        <%= th_label_tag obj, :id_fiscal %>
        <%= th_label_tag obj, :id_itm %>
        <%= th_label_tag obj, :id_account %>
        <%= th_label_tag obj, :address %>
        <%= th_label_tag obj, :city %>
        <%= th_label_tag obj, :zip %>
        <%= th_label_tag obj, :tel %>
        <%= th_label_tag obj, :fax %>
        <%= th_label_tag obj, :email %>
        <th>&nbsp;</th>
     </tr>
    </thead>
    <tbody>
      <% for o in obj %>
        <tr class="<%= cycle("even","odd")%>" >
          <td align="right"><%= i += 1 %>.</td>
          <%= td_value_tag o, :id, {:align => 'right'} %>
          <%= td_value_tag o, :full_name %>
          <%= td_value_tag o, :namesh %>
          <%= td_value_tag o, :id_chamcom %>
          <%= td_value_tag o, :id_fiscal %>
          <%= td_value_tag o, :id_itm %>
          <%= td_value_tag o, :id_account %>
          <%= td_value_tag o, :address %>
          <%= td_value_tag o, :city %>
          <%= td_value_tag o, :zip %>
          <%= td_value_tag o, :tel %>
          <%= td_value_tag o, :fax %>
          <%= td_value_tag o, :email %>
          <%= link_to_task o, :last_column %>
      <% end %>
      <%= last_row_for obj, :row20, {:colspan => 15, :offset => i } %>
      <%= last_row_for obj, :list, {:colspan => 14 } %>
    </tbody>
  </table>
</div>
